@charset "UTF-8";

body {
    background-color: #333;
    color: white;
}

div {
    padding: 30px;
    background-color: rgb(40, 40, 155);
    margin-top: 10px;
    width: 50vw;
}

main {
    background-color: rgb(149, 48, 48);
}